/*字體*/
@font-face {src: url(noto.otf);
	font-family: noto;}
/*導覽列*/
.nav ul{
  background:#444;
  list-style-type: none;
  display:flex;
  flex-direction:column;
  
}
.nav ul li a{
  color:#f9f9f9;
  display:block;
  padding: 0.8rem 1rem ;
  text-decoration: none;
}
.nav ul li a:hover{
  background:rgba(0,0,0, .4);
}
.text{text-align: left;
font-size: 200%;
color:white;}
@media only screen and (min-width:30em){
 .nav ul{
    flex-direction:row;
    justify-content:space-between;
  }
 .nav ul li{
    flex:1 0 auto;
    text-align: center;
	color:white;
  }
.text{
	flex:1 0 auto;
	text-align: center;
	color:white;
	font-size: 200%;}	
}


body {background-color:#FFFFFF;
	font-family: noto;
}
/*標題*/
.title{font-size: 200%}
/*封面*/
.start {
	display: flex;
	align-items:center;
	margin-left: auto;
	margin-right: auto;
}
#cover{ 
	display: flex;
	align-items:center;	max-width:70%;
	box-shadow: 0px 0px 36px -1px rgba(0, 0, 0, 0.34);
    max-height:50%;
    margin-left: auto;
	margin-right: auto;
}

/*我們是誰*/
.who {	border-left: 10px;
	border-right:10px;
	border-bottom:10px ;
	box-shadow: 0px 0px 36px -1px rgba(0, 0, 0, 0.34);
	width:90%;
    display: flex;
    align-items:center;
	z-index: -1;
	margin-left: auto;
    margin-right: auto;
	background: #fffff0;

}
#ru{padding:3% }
#sun_nonface{padding: 3%}
	
	/*我們在幹嘛*/
.what{	border-left: 0px;
	border-right:10px;
	border-bottom:10px ;
	box-shadow: 0px 0px 36px -1px rgba(0, 0, 0, 0.34);
	padding: inherit;
	margin: inherit;
	width:90%;
    display: flex;
    align-items:center;
	z-index: -1;
	margin-left: auto;
    margin-right: auto;
	background: #fffff0;

}
#doyoudo{padding:3% }
#horn{padding: 3%}


/*扶少團*/
.react {	border-left: 0px;
	border-right:10px;
	border-bottom:10px ;
	box-shadow: 0px 0px 36px -1px rgba(0, 0, 0, 0.34);
	padding: inherit;
	margin: inherit;
	width:90%;
    display: flex;
    align-items:center;
	z-index: -1;
	margin-left: auto;
    margin-right: auto;
	background: #fffff0;
}
#interact{padding:3% } 
#logo{padding:3%;}

/*可以得到什麼*/
.recieve{	border-left: 0px;
	border-right:10px;
	border-bottom:10px ;
	box-shadow: 0px 0px 36px -1px rgba(0, 0, 0, 0.34);
	padding: inherit;
	margin: inherit;
	width:90%;
    display: flex;
    align-items:center;
	z-index: -1;
	margin-left: auto;
    margin-right: auto;
	background: #fffff0;

}
#gain{padding:3%;}
#scroll{padding:5%;}

/*加入方法*/
.join {
	border-left: 0px;
	border-right:10px;
	border-bottom:10px ;
	box-shadow: 0px 0px 36px -1px rgba(0, 0, 0, 0.34);
	padding: inherit;
	margin: inherit;
	width:90%;
    display: flex;
    align-items:center;
	z-index: -1;
	margin-left: auto;
    margin-right: auto;
	background: #fffff0;

}
#us{padding:3% }
#fist{padding: 3%}
@media only screen and (max-width:600px){
	.start {
	display: flex;
	align-items:center;
	margin-left: auto;
	margin-right: auto;
}
#cover{ 
	display: flex;
	align-items:center;
	max-width:100%;
    height:auto;
	box-shadow: 0px 0px 36px -1px rgba(0, 0, 0, 0.34);
    max-height:100%;
    margin-left: auto;
	margin-right: auto;
}

/*我們是誰*/
.who {	
	box-shadow: 0px 0px 36px -1px rgba(0, 0, 0, 0.34);
    display: flex;
    align-items:center;
	z-index: -1;
	background: #fffff0;
}
#ru{padding:3%;}
#sun_nonface{display: none;}
	
	/*我們在幹嘛*/
.what{
	box-shadow: 0px 0px 36px -1px rgba(0, 0, 0, 0.34);
    display: flex;
    align-items:center;
	z-index: -1;
	background: #fffff0;
}
#doyoudo{padding:3% }
#horn{display: none;}


/*扶少團*/
.react {
	box-shadow: 0px 0px 36px -1px rgba(0, 0, 0, 0.34);
    display: flex;
    align-items:center;
	z-index: -1;
}
#interact{padding:3% } 
#logo{display: none;}

/*可以得到什麼*/
.recieve{
	box-shadow: 0px 0px 36px -1px rgba(0, 0, 0, 0.34);
    display: flex;
    align-items:center;
	z-index: -1;
   background: #fffff0;
}
#gain{padding:3%;}
#scroll{display: none;}

/*加入方法*/
.join {
	box-shadow: 0px 0px 36px -1px rgba(0, 0, 0, 0.34);
    display: flex;
    align-items:center;
	z-index: -1;
 	background: #fffff0;
}
#us{padding:3% }
#fist{display: none;}
	
}